@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="\img\JoelHiltonHeadshot.jpg" alt="Joel Hilton" style="width: 600px;">
    <br />
    <a asp-controller="Home" asp-action="Add">Add a Movie</a>
</div>
