@{
    ViewData["Title"] = "Joel Hilton";
}
<h1 class="display-4">Get to Know Joel</h1>
<br />

<!--Website links-->
<p>Visit these websites:</p>
<ul>
    <li><a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a></li>
    <li><a href="https://baconsale.com/" target="_blank">Baconsale</a></li>
</ul>
<br />

<!--Image with link-->
<a href="https://baconsale.com/" target="_blank">
    <img src="\img\BaconsaleKate.jpg" alt="4 people from Baconsale" style="width: 500px;">
</a>


